<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.argus.omc-wait</string>

    <key>ProgramArguments</key>
    <array>
        <string>__OMC_BIN__</string>
        <string>wait</string>
        <string>--start</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>__USER_PATH__</string>
        <key>HOME</key>
        <string>__HOME__</string>
        <key>OMC_STATE_DIR</key>
        <string>__OMC_STATE_DIR__</string>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>__HOME__/.argus/logs/omc-wait.out.log</string>

    <key>StandardErrorPath</key>
    <string>__HOME__/.argus/logs/omc-wait.err.log</string>
</dict>
</plist>
